maltparser/swemalt-1.7.2.mco filter=lfs diff=lfs merge=lfs -text
stagger/swedish.bin filter=lfs diff=lfs merge=lfs -text
stanford-ner-2018-02-27/classifiers/se-ner-model.ser.file-list-test.gz filter=lfs diff=lfs merge=lfs -text
